
$color-titulos:yellow;
$background-color:#f55;
$blak:#0055;
$padding-1:5px;
$font-size-lg:1.4rem;
$font-family:"helvetica",sans-serif;

body{
    background-color: darkgray;
    div{
        h1{
            color: blue;
            p{
                font-family:$font-family ;
            }

        }
    }
}




